@import "tailwindcss";
/* Custom scrollbar */
::-webkit-scrollbar {
    width: 18px;
    height: 12px;
}
.svg-white path {
    fill: white !important;
  }
  
::-webkit-scrollbar-track {
    background: #0a192f;
}

::-webkit-scrollbar-thumb {
    background: #00b4d8;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0096c7;
}

/* Firefox scrollbar */
* {
    scrollbar-width: auto;
    scrollbar-color: #00b4d8 #0a192f;
}


html {
    scroll-behavior: smooth;
}
