@import "tailwindcss";
/* Custom scrollbar */
::-webkit-scrollbar {
    width: 18px;
    height: 12px;
}
.svg-white path {
    fill: white !important;
  }
  
::-webkit-scrollbar-track {
    background: #030418;
}

::-webkit-scrollbar-thumb {
    background: #b584fd;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9b5de5;
}

/* Firefox scrollbar */
* {
    scrollbar-width: auto;
    scrollbar-color: #2b0a36 #030418;
}


html {
    scroll-behavior: smooth;
}
